.doctor-list-container {
    background-color:  #22263f;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem 0;
}

.doctor-list-container h1 {
    color: white;
    font-family: bold;
    font-size: x-large;
    margin: 1rem;
    padding: 1rem 0;
}

.doctor-list-container p {
    color: white;
    font-family: light;
    padding: 0 1rem;
}

.doctor-list-container .doctor-list .doctor {
    background-color: white;
    margin: 1rem;
    box-shadow: 0 .5rem #7adbf8;
}

.doctor-list-container .doctor-list .doctor img {
    width: 100%;
}

.doctor-list-container .doctor-list .doctor h3 {
    color: #1177dc;
    text-align: left;
    margin: .5rem 0 0 0;
    display: flex;
    flex-direction: row;
    font-family: bold;
}

.doctor-list-container .doctor-list .doctor h3::before{
    content: "";
    display: block;
    border-bottom: 2px solid rgb(0, 115, 209);;
    width: 1.4rem;
    align-self: center;
}

.doctor-list-container .doctor-list .doctor p {
    color: black;
    text-align: left;
    margin: .5rem 0 0 1.5rem;
    padding: 0;
    padding-bottom: 10px;
    font-family: light;
    font-size: smaller;
}

@media only screen and (min-width: 768px){
    .doctor-list-container .doctor-list{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .doctor-list-container .doctor-list .doctor img {
        height: 25rem;
    }

    .doctor-list-container h2{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .doctor-list-container p {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media only screen and (min-width:1000px){
    .doctor-list-container {
        text-align: left;
    }

    .doctor-list-container h1 {
        font-size: xxx-large;
        margin: 4rem 0 3rem 4rem;
    }

    .doctor-list-container p {
        font-size: medium;
        margin: 0 3rem;
    }

    .doctor-list-container .doctor-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 2rem 5rem 2rem;
    }

    .doctor-list-container .doctor-list .doctor {
        width: 100%;
    }

    .doctor-list-container .doctor-list .doctor img {
        height: 25rem;
    }
}