*{
    margin: 0;
    padding: 0;
}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}

.locator {
    /* background-color: #99c0da; */
    background-image: url("../../images/img1.jpg");
    background-size: 100% 100%;
    text-align: center;
}

.locator h1 {
    padding: 2rem;
    font-size: xxx-large;
    font-weight: bolder;
    font-family: bold;
    color: rgba(0, 0, 0, 0.781);
}

.locator p {
    padding: 0 2rem 0 2rem;
    font-family: light;
}

.locator .city {
    display: flex;
    justify-content: center;
    margin: 1rem;
    align-items: center;
}

.locator .city i {
    background-color: white;
    padding: 1rem;
    height: 1rem;
}

.locator .city .fa-map-marker {
    background-color: white;
    font-size: large;
    padding: 1rem;
    border: none;
    /* border-style: hidden; */
}

.locator .city input {
    width: 15rem;
    height: 3rem;
    border: none;
    /* border-style: hidden; */
}

.locator .city img {
    background-color: white;
    height: 1rem;
    padding: 1rem;
}

.locator .search input {
    width: 18.7rem;
    height: 1rem;
    padding: 1rem;
    border: none;
    border-left: 3px;
}

.locator button {
    background-color: rgba(22, 22, 49, 0.904);
    border: none;
    color: white;
    margin: 2rem;
    width: 9rem;
    height: 3rem;
}

@media only screen and (min-width: 600px){

}

@media only screen and (min-width : 1000px){
    .locator {
        text-align: left;
    }

    .locator h1 {
        padding: 7rem 0 0 5rem;
    }

    .locator p {
        padding: 1rem 0 0 5rem;
    }

    .locator .inputs {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem 0 5rem 4rem;
    }

    .locator .inputs .city {
        margin-right: 0;
    }

    .locator .inputs button {
        margin: 0;
    }
}