.services {
    background-color: #f3f3f3;
    padding: 1rem 0;
}

.services h2 {
    font-family: bold;
    font-size: x-large;
    padding: 1rem;
}

.services p {
    font-family: light;
    padding: 1rem 2rem;
}

.services .services-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 .5rem;
}

.services .services-container .img-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    margin: .5rem;
    height: 8rem;
}

.services .services-container .img-5 img {
    padding: .5rem;
    margin-bottom: -1.7rem;
}

.services .services-container .img-5 p{
    color:rgb(146, 144, 144);
    font-weight: bolder;
    margin: 1rem;
    padding: 0;
    color: #5d5d5d;
    font-family: bold;
}

@media only screen and (min-width: 760px){
    .services .services-container {
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (min-width : 1000px){
    .services {
        text-align: left;
        padding-left: 6rem;
        background-color: whitesmoke;
        padding-bottom: 6rem;
    }

    .services h2 {
        font-size: xx-large;
    }

    .services p {
        padding-left: 0;
        margin-left: 0;
    }

    .services .services-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0 3rem 0 0;
        /* width: 100rem; */
    }

    .services .services-container .img-5 {
        margin: 0;
        margin-right: .5rem;
        border-radius: 0px;
        background-color: white;
        width: 20rem;
        height: 15rem;
    }
}