.treatments-container {
    margin-top: 2rem;
}

.treatments-container h1 {
    padding: 0 3rem 0 1rem;
    font-family: bold;
    font-size: xxx-large;
}

.treatments-container p {
    padding: 1rem;
    font-size: large;
    font-family: light;
}


.treatments-container .treatments .treatment {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1rem;
    margin: .5rem 2rem 1rem 2rem;
    background-size: cover;
}

.treatments-container .treatments .treatment p {
    color: white;
    /* margin: .7rem; */
    font-size: 1.2rem;
}

.treatments-container .treatments .img-1 {
    background-image: linear-gradient(to bottom, transparent,rgb(0, 0, 0)99%),url("../../images/image--009.jpg");
    background-repeat: no-repeat;
    
}

.treatments-container .treatments .img-2 {
    background-image: linear-gradient(to bottom, transparent,rgb(0, 0, 0)99%),url("../../images/image--010.jpg");
    background-repeat: no-repeat;
    
    /* height: 450px; */
}

.treatments-container .treatments .img-3 {
    background-image: linear-gradient(to bottom, transparent,rgb(0, 0, 0)99%),url("../../images/image--008.jpg");
    background-repeat: no-repeat;
    /* height: calc(450px-.25rem); */
}

.treatments-container .treatments .img-4 {
    background-image: linear-gradient(to bottom, transparent,rgb(0, 0, 0)99%),url("../../images/image--011.jpg");
    background-repeat: no-repeat;
    /* height: calc(450px-.25rem); */
}

.treatments-container .treatments .img-5 {
    background-image: linear-gradient(to bottom, transparent,rgb(0, 0, 0)99%),url("../../images/image--007.jpg");
    background-repeat: no-repeat;
    /* height: calc(450px-.25rem); */
}

@media only screen and (min-width: 600px){
    .treatments-container .treatments  {
        display: grid;
        margin: 2rem;
        grid-template-columns: 50% 50%;
    }

    .treatments-container h2{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .treatments-container p {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media only screen and (min-width : 1000px){
    .treatments-container {
        text-align: left;
        /* padding-left: 3rem;
        padding-bottom: 6rem; */
    }

    .treatments-container h1 {
        /* padding-top: 3rem; */
        font-size: xxx-large;
        margin: 3rem 4rem 3rem 4rem;
    }

    .treatments-container p {
        /* padding-left: 3rem; */
        margin-left: 4rem;
    }

    .treatments-container .treatments {
        display: grid;
        grid-template-columns: auto auto auto;
        /* grid-auto-rows: 20rem; */
    }

    .treatments-container .treatments .treatment p{
       padding: 0;
       margin: 0;
       font-family: bold;
    }
}