.treatments-container {
    padding: 1rem 0;
}

.treatments-container h1 {
    
    font-family: bold;
    font-size: x-large;
}

.treatments-container p {
    padding: 1rem 1.5rem;
    font-size: large;
    font-family: light;
}


.treatments-container .treatments .treatment {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-size: cover;
    margin: 1rem;
    padding: 14rem 0 0 0;
}

.treatments-container .treatments .treatment p {
    color: white;
    font-family: light;
    padding: 0;
    padding: .5rem;
    font-size: smaller;
}

.treatments-container .treatments .img-1 {
    background-image: linear-gradient(to bottom, transparent,rgb(0, 0, 0)99%),url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg");
    background-repeat: no-repeat;
    
}

.treatments-container .treatments .img-2 {
    background-image: linear-gradient(to bottom, transparent,rgb(0, 0, 0)99%),url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg");
    background-repeat: no-repeat;
    
    /* height: 450px; */
}

.treatments-container .treatments .img-3 {
    background-image: linear-gradient(to bottom, transparent,rgb(0, 0, 0)99%),url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg");
    background-repeat: no-repeat;
    /* height: calc(450px-.25rem); */
}

.treatments-container .treatments .img-4 {
    background-image: linear-gradient(to bottom, transparent,rgb(0, 0, 0)99%),url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg");
    background-repeat: no-repeat;
    /* height: calc(450px-.25rem); */
}

.treatments-container .treatments .img-5 {
    background-image: linear-gradient(to bottom, transparent,rgb(0, 0, 0)99%),url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg");
    background-repeat: no-repeat;
    /* height: calc(450px-.25rem); */
}

@media only screen and (min-width: 760px){
    .treatments-container .treatments  {
        display: grid;
        margin: 2rem;
        grid-template-columns: 50% 50%;
    }

    .treatments-container h2{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .treatments-container p {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media only screen and (min-width : 1000px){
    .treatments-container {
        text-align: left;
        /* padding-left: 3rem;
        padding-bottom: 6rem; */
    }

    .treatments-container h1 {
        /* padding-top: 3rem; */
        font-size: xxx-large;
        margin: 3rem 4rem 3rem 4rem;
    }

    .treatments-container p {
        /* padding-left: 3rem; */
        margin-left: 2rem;
    }

    .treatments-container .treatments {
        display: grid;
        grid-template-columns: auto auto auto;
        /* grid-template-areas: 
                        "img-1 img-2 img-3"
                        "img-4 img-2 img-5"
                        "img-4 img-2 img-5"; */
        /* grid-auto-rows: 20rem; */
    }

    
    /* .treatments-container .treatments .img-1 {
        
    }
    
    .treatments-container .treatments .img-2 {
        grid-area: img-2;
    }
    
    .treatments-container .treatments .img-3 {
        grid-area: img-3;
    }
    
    .treatments-container .treatments .img-4 {
        grid-area: img-4;
    }
    
    .treatments-container .treatments .img-5 {
        grid-area: img-5;
    } */
    
    .treatments-container .treatments .treatment p{
       padding: 0;
       margin: 0;
       font-family: bold;
    }
}