.working h1 {
    margin: 1rem;
    font-size: xxx-large;
    font-family: bold;
}

.working p {
    margin: 1rem;
    font-family: light;
}

.working .workflow {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
}

.working .workflow .steps {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    margin: .2rem 2rem .2rem 1rem;
    padding: 4rem 2rem 4rem 2rem;
    border-radius: 10px;
    color: rgb(218, 216, 216);
    height: 1rem;
}

.working .workflow .steps:hover {
    color: blue;
}

.working .workflow .steps:active {
    color: black;
}

.working .workflow .steps .number {
    font-weight: 900;
    font-size: 2rem;
    margin-right: 1rem;
    font-family: bold;
    color: rgba(181, 182, 182, 0.507);
}

.working .workflow .steps .text {
    font-weight: 900;
    font-size: 2rem;
    text-align: left;
    font-family: bold;
    color: rgba(65, 66, 66, 0.376);
}

.working .workflow .img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 20rem; */
}

.working .workflow .img-container h2 {
    font-family: bold;
    font-size: xx-large;
}

.working .workflow .img-container p {
    font-family: light;
}

.working .workflow .img-container img {
    height: 18rem;
    margin: 1rem;
    /* margin: 1.5rem 0.5rem 1rem 1.5rem; */
    max-width: 80%;
}

@media only screen and (min-width: 600px){
    .working .workflow {
        display: grid;
        grid-template-columns: auto auto;
    }

    .working .workflow .img-container {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 7;
        /* margin-top: 5rem; */
    }

    .working .workflow .img-container img {
        height: 20rem;
        margin-top: 5rem;
    }
}

@media only screen and (min-width : 1000px){
    .working {
        text-align: left;
        margin: 4rem;
    }

    .working .workflow {
        /* margin: 0 10rem 0 10rem; */
        margin-top: 4rem;
    }

    .working .workflow .img-container {
        text-align: center;
    }

    .working .workflow .img-container img {
        height: 100%;
        margin-top: 2rem;
    }
}