.admin-card-hero {
    margin-top: -25rem;
    margin-left: 15rem;
    display: flex;
    justify-content: space-around;
}

.admin-card-hero .admin-card {
    display: grid;
    grid-template-columns: 25% auto;
    box-shadow: 0 0 2rem -0.7rem black;
    padding: 1rem;
    width: 12rem;
}

.admin-card-hero .admin-card i {
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    font-size: x-large;
    color: rgba(0, 68, 255, 0.884);
}

.admin-card-hero .admin-card h2 {
    font-family: bold;
    font-size: large;
    align-self: center;
}

.admin-card-hero .admin-card p {
    font-family: bold;
    font-size: large;
    align-self: center;
    color: rgba(0, 68, 255, 0.884);
}