h2 {
    font-family: bold;
    font-size: larger;
    text-align: left;
}

p {
    font-family: light;
}

.appointment-container {
    background-color: rgb(119, 169, 192);
    height: 100%;
    padding: 1rem;
}

.appointment-container .appointment-form-container {
    
}

.appointment-container .appointment-form-container .appointment-elements {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 10rem;
    background-color: white;
    padding: 2rem;
}

.appointment-container .appointment-form-container .appointment-elements .appointment-header{
    color: rgb(55, 115, 145);
    font-size: x-large;
    margin-bottom: 2rem;
    font-family: bold;
}

input {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: grey;
}

.file {
    padding: 0;
}
.appointment-container .appointment-form-container .appointment-elements .radio-container {
    display: grid;
    grid-template-columns: 10% auto;
    margin-top: 1rem;
}

.appointment-container .appointment-form-container .appointment-elements .radio-container input {
    margin-top: 0;
}

.appointment-container .appointment-form-container .appointment-elements .radio-container p {
    justify-self: left;
}

.appointment-container .appointment-form-container .appointment-elements textarea {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.appointment-container .appointment-form-container .appointment-elements .appointment-button {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: rgb(19, 19, 43);
    border: none;
    color: white;
    padding: 1rem;
    font-family: bold;
    font-size: large;
    margin-bottom: 2rem;
}

.appointment-container .appointment-form-container .appointment-elements .appointment-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: light;
}

.appointment-container .appointment-form-container .appointment-elements .appointment-footer a{
    color: rgb(0, 153, 255);
}

@media only screen and (min-width: 600px){
    .appointment-container .appointment-form-container .appointment-elements{
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

@media only screen and (min-width: 1000px){
    .appointment-container .appointment-form-container .appointment-elements{
        margin-top: 10rem;
        margin-left: 20rem;
        margin-right: 20rem;
    }
}