.book-appointment-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f0f0f5;
    padding: 1rem 0 10rem 0;
}

.book-appointment-hero  .doctor-details-hero {
    background-color: white;
    margin: 2rem;
    width: 40%;
}

.book-appointment-hero  .doctor-details-hero h2 {
    font-family: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.253);
    padding: .5rem 1.5rem;
}

.book-appointment-hero  .doctor-details-hero .date-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.253);
}

.book-appointment-hero  .doctor-details-hero .date-hero .date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.book-appointment-hero  .doctor-details-hero .date-hero .date i {
    margin-right: .4rem;
}

.book-appointment-hero  .doctor-details-hero .date-hero .date p {
    margin-right: .2rem;
    font-family: light;
}

.book-appointment-hero  .doctor-details-hero .date-hero .date h3 {
    font-family: bold;
}

.book-appointment-hero  .doctor-details-hero .doctor {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: .5rem 1.5rem;
}

.book-appointment-hero  .doctor-details-hero .doctor img {
    grid-row-start: 1;
    grid-row-end: 4;
    width: 100%;
}

.book-appointment-hero  .doctor-details-hero .doctor h4 {
    font-family: bold;
}

.book-appointment-hero  .doctor-details-hero .doctor p {
    font-family: light;
}

.book-appointment-hero .patient-details-hero {
    margin: 2rem;
}

.book-appointment-hero .patient-details-hero h1 {
    font-family: bold;
    font-size: x-large;
    margin-bottom: .5rem;
}

.book-appointment-hero .patient-details-hero h3 {
    font-family: bold;
}

.book-appointment-hero .patient-details-hero .patient-name-hero {
    display: flex;
    flex-direction: column;
}

.book-appointment-hero .patient-details-hero .patient-name-hero .patient-name {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 1px solid black;
    align-items: baseline;
    margin: .5rem 0;
    padding: .5rem;
}

.book-appointment-hero .patient-details-hero .patient-name-hero .patient-name p {
    font-family: light;
}

.book-appointment-hero .patient-details-hero .patient-name-hero h3 {
    font-family: bold;
}

.book-appointment-hero .patient-details-hero .form-elements {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.book-appointment-hero .patient-details-hero .form-elements input {
    padding: .5rem;
    margin: .3rem 0;
}