.login-container {
    background-color: rgb(119, 169, 192);
    height: 100%;
    padding: 1rem;
}

.login-container .login-form-container {
    
}

.login-container .login-form-container .login-elements {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 10rem;
    background-color: white;
    padding: 2rem;
}

.login-container .login-form-container .login-elements .links {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.login-container .login-form-container .login-elements .links a {
    font-family: bold;
    color: rgb(55, 115, 145);
    font-size: large;
}

.login-container .login-form-container .login-elements .login-header{
    color: rgb(55, 115, 145);
    font-size: x-large;
    margin-bottom: 2rem;
    font-family: bold;
}

input {
    padding: 1rem;
    margin-bottom: 1rem;
    color: grey;
}

.login-container .login-form-container .login-elements .password{
    display: flex;
    flex-direction: row;
}

.login-container .login-form-container .login-elements .password input{
    width: 100%;
    /* border-right: none; */
}

.login-container .login-form-container .login-elements .password i {
    font-size: x-large;
    /* align-self: center; */
    border: 1px solid gray;
    height: fit-content;
    padding: .77rem;
    border-left: none;
    color: rgb(119, 169, 192);;
}


.login-container .login-form-container .login-elements .login-button {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: rgb(19, 19, 43);
    border: none;
    color: white;
    padding: 1rem;
    font-family: bold;
    font-size: large;
    margin-bottom: 2rem;
}

.login-container .login-form-container .login-elements .login-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: light;
}

.login-container .login-form-container .login-elements .login-footer a{
    color: rgb(0, 153, 255);
}

@media only screen and (min-width: 768px){
    .login-container .login-form-container .login-elements{
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

@media only screen and (min-width: 1024px){

    .login-container .login-form-container{
        padding: 0 20rem;
    }

    .login-container .login-form-container .login-elements{
        margin: 5rem 0;
    }
}