<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/common/reset.css">
    <link rel="stylesheet" href="../css/common/nav.css">
    <link rel="stylesheet" href="../css/index/locator.css">
    <link rel="stylesheet" href="../css/index/working.css">
    <link rel="stylesheet" href="../css/index/doctor_list.css">
    <link rel="stylesheet" href="../css/index/treatments.css">
    <link rel="stylesheet" href="../css/index/services.css">
    <link rel="stylesheet" href="../css/index/querry.css">
    <link rel="stylesheet" href="../css/common/footer.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- <% include ./common/navbar %> -->
    <div class="login-container">
        
        <form class="login-form" action="/getOTP" method="POST"> 
            <div class="login-form-container">
                <div class="login-elements">
                    <p class="login-header">Login</p>
                    <!-- <input type="text" name="otp" placeholder="Enter OTP" maxlength="4" class="otp"> -->
                    <div class="otp-box">
                        <input type="text" id="1" onkeyup="next(1)" maxlength="1" class="otp" name="otp1">
                        <input type="text" id="2" onkeyup="next(2)" maxlength="1" class="otp" name="otp2">
                        <input type="text" id="3" onkeyup="next(3)" maxlength="1" class="otp" name="otp3">
                        <input type="text" id="4" maxlength="1" class="otp" name="otp4">    
                    </div>
                    <div class="timer">
                        <div class="time">
                            <p>00:</p>
                            <p id="sec">30</p>                        
                        </div>
                        <a href="/resend" class="disable" id="resend">Resend</a>
                    </div>
                    <button class="login-button">
                        <div><p>LOGIN</p></div>
                        <div><i class="fas fa-arrow-right"></i></div>
                    </button>

                </div>
            </div>
        </form>
        
    </div>
    <!-- <% include ./common/footer %> -->
    <script>
        function next(id){
            document.getElementById(id+1).focus()
        }

        let s = 30;
        let x= setInterval(() => {
            if(s <10){
                document.getElementById("sec").innerHTML = "0"+s;
            }
            else {
                document.getElementById("sec").innerHTML = s;
            }
            s--;
            if(s===-1){
                clearInterval(x)
                document.getElementById("resend").className = "active"
            }
        },1000)
    </script>
</body>
</html>