li {
    list-style-type: none;
}

a {
    color: black;
    font-family: light;
    font-weight: 500;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: .5rem;
    align-items: center;
}

.navbar img {
    max-width: 7rem;
    height: 2rem;
}

.navbar .menu {
    display: none;
}

.navbar .menu-buttons {
    display: none;
}

.navbar i {
    color: #000000;
}

.mobile-menu {
    display: none;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
}

.mobile-menu ul li {
    padding: .5rem;
}

.mobile-menu ul li a {
    font-size: larger;
}

.mobile-menu .menu-buttons {
    display: flex;
    margin: 1rem;
    justify-content: space-evenly;
}

.login {
    margin-right: 1rem;
    background-color: white;
    border: none;
    border-style: solid;
    border-width: 1px;
    padding: 1rem;
    border-radius: 5px;
    max-width: 10rem;
    font-size: medium;
    font-family: light;
}

.plus {
    background-color: #0173b2;
    border: solid;
    color: white;
    border-width: 1px;
    padding: 1rem;
    border-radius: 5px;
    max-width: 10rem;
    font-size: medium;
    font-family: light;
}

.quote {
    background-color: rgba(22, 22, 49, 0.904);
    border: solid;
    color: white;
    border-width: 1px;
    padding: 1rem;
    border-radius: 5px;
    max-width: 10rem;
    font-size: medium;
    font-family: light;
}

.menu-buttons .dropdown {
    position: relative;
    display: inline-block;
}

.menu-buttons .dropdown .dropbtn {
    border: none;
    padding: 1rem;
    font-size: large;
    background-color: white;
}

.menu-buttons .dropdown .dropdown-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: .5rem 2rem 0 -17rem;
    width: max-content;
    font-size: x-large;
    display: none;
}

.menu-buttons .dropdown .dropdown-content .links{
    padding: 1rem 2rem;
    font-family: bold;
    font-size: large;
}

.menu-buttons .dropdown .dropdown-content .links:hover {
    background-color: rgba(128, 128, 128, 0.103);
    box-shadow: 5px 0 inset blue;
}

.menu-buttons .dropdown .dropdown-content .user {
    display: grid;
    grid-template-columns:  30% auto;
    margin: .5rem 2rem 2rem 2rem;
}

.menu-buttons .dropdown .dropdown-content .user img {
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 0;
    align-self: center;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    border-radius: 50%;
}

.menu-buttons .dropdown .dropdown-content .user h1 {
    font-family: bold;
    color: rgb(0, 153, 255);
    font-size: large;
    margin-left: 1rem;
    padding: .5rem 0;
}

.menu-buttons .dropdown .dropdown-content .user p {
    font-family: light;
    font-size: medium;
    margin-left: 1rem;
    padding: .5rem 0;
}

.menu-buttons .dropdown .dropdown-content .line {
    content: "";
    border: 1px solid rgba(0, 0, 0, 0.315);
}

@media only screen and (min-width: 600px) and (max-width: 1000px){

}

@media only screen and (min-width : 1024px){
    .navbar img {
        /* max-width: 7rem; */
        margin-left: 2rem;
    }

    .navbar {
        justify-content: space-between;
    }

    .navbar .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 1rem 0 1rem;
    }

    .navbar .menu li {
        /* margin-left: 5rem; */
        padding: 0 1rem;
    }

    .navbar .menu li a {
        font-size: large;
    }

    .navbar i {
        display: none;
    }

    .navbar .menu-buttons {
        display: flex;
        flex-direction: row;
        margin-right: 1rem;
    }
    
    .navbar .menu-buttons .login {
        margin-right: 1rem;
        background-color: white;
        border: none;
        border-style: solid;
        border-width: 1px;
        padding: 1rem;
        border-radius: 5px;
        max-width: 10rem;
        font-size: medium;
    }

    .navbar .menu-buttons .quote {
        background-color: rgba(22, 22, 49, 0.904);
        border: solid;
        color: white;
        border-width: 1px;
        padding: 1rem;
        border-radius: 5px;
        max-width: 10rem;
        font-size: medium;
    }

    .navbar .burger{
        display: none;
    }

    .mobile-menu {
        display: none;
    }
}