<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/common/nav.css">
    <link rel="stylesheet" href="css/doctor/doctor_list_container.css">
    <link rel="stylesheet" href="css/index/querry.css">
    <link rel="stylesheet" href="css/common/footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <% include ./common/navbar %>

    <div class="doctor-sort">
        <p>Home / Doxtor List</p>
        <select name="sort-by" id="sort">
            <option value="sort-by">Sort-by</option>
        </select>
    </div>
    
    <div class="doctor-list-container">
        <div class="filter-doctor">
            <div class="filter" id="filter1"></div>
            <hr>
            <div class="filter" id="filter2"></div>
            <hr>
            <div class="filter" id="filter3"></div>
            <hr>
            <div class="filter" id="filter4"></div>

        </div>

        <div class="doctor-list">

            <div class="doctor-card" id="doc1"></div>
            <div class="doctor-card" id="doc2"></div>
            <div class="doctor-card" id="doc3"></div>
            <div class="doctor-card" id="doc4"></div>
            <div class="doctor-card" id="doc5"></div>
        </div>

    </div>

    <div class="querry">
        <div class="content">
            <h2>Need Help?</h2>
            <p>Just let us know. We will be happy to assist you.</p>
        </div>
        
        <button><h2>Submit your querry</h2></button>
    </div>

    <% include ./common/footer %>

    <script>
        
        
        let doctors = [];
        doctors[0] = "Aayush";
        doctors[1] = "Aayush";
        doctors[2] = "Aayush";
        doctors[3] = "Aayush";
        doctors[4] = "Aayush";

        let doctors_img = [];
        doctors_img[0] = "https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg";
        doctors_img[1] = "https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg";
        doctors_img[2] = "https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg";
        doctors_img[3] = "https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg";
        doctors_img[4] = "https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg";
        
        let locations = [];
        locations[0] = "abc";
        locations[1] = "abc";
        locations[2] = "abc";
        locations[3] = "abc";
        locations[4] = "abc";

        let filters = [];
        filters[0] = "Location";
        filters[1] = "Location";
        filters[2] = "Location";
        filters[3] = "Location";

        for(let i=0;i<5;i++){
            let doctor = document.getElementById("doc" + (i+1))
            doctor.innerHTML =  '<h3>' + doctors[i] + '</h3>' + 
                                '<i class="fa fa-certificate"></i>' + doctors[i] +
                                '<img src="../src/images/certificate.png" class="certi">' + doctors[i] +
                                '<i class="fa fa-clock-o"></i>' + doctors[i]  +
                                '<i class="fa fa-hospital-o"></i>' + doctors[i] +
                                '<i class="fa fa-map-marker"></i>' + doctors[i] +
                                '<button> Book An Appointment </button>' +
                                '<img src=' + doctors_img[i] + ' alt="" srcset="" class="doctor-img">';
           
        }
        
        for(let i=0;i<4;i++){
            let filter = document.getElementById("filter" + (i+1));
            filter.innerHTML =  '<p>' + filters[i] + '</p>' + '<i class="fa fa-search"></i>' +
                                '<input type="checkbox" name="" id=""><label for="">'+ locations[i] + '</label>' +
                                '<input type="checkbox" name="" id=""><label for="">'+ locations[i] + '</label>' +
                                '<input type="checkbox" name="" id=""><label for="">'+ locations[i] + '</label>' +
                                '<input type="checkbox" name="" id=""><label for="">'+ locations[i] + '</label>' +
                                '<input type="checkbox" name="" id=""><label for="">'+ locations[i] + '</label>' +
                                '<i class="fa fa-plus">Show More</i>';                
        }
    </script>
</body>
</html>