<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/common/reset.css">
    <link rel="stylesheet" href="../css/common/nav.css">
    <link rel="stylesheet" href="../css/index/locator.css">
    <link rel="stylesheet" href="../css/index/working.css">
    <link rel="stylesheet" href="../css/index/doctor_list.css">
    <link rel="stylesheet" href="../css/index/treatments.css">
    <link rel="stylesheet" href="../css/index/services.css">
    <link rel="stylesheet" href="../css/index/querry.css">
    <link rel="stylesheet" href="../css/common/footer.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/notification.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <% include ./common/navbar %>
    <div class="login-container">
        
        <% if(type === "info"){ %>
            <div class="notfication info" id="notification">
                <i class="fa fa-info-circle icon1" aria-hidden="true"></i>
                <h2>Info</h2>
                <p><%= msg %></p>
                <i class="fa fa-times icon2" aria-hidden="true" onclick="show()"></i>
            </div>
        <% } %>

        <% if(type === "failure"){ %>
            <div class="notfication failure" id="notification">
                <i class="fa fa-info-circle icon1" aria-hidden="true"></i>
                <h2>Info</h2>
                <p><%= msg %></p>
                <i class="fa fa-times icon2" aria-hidden="true" onclick="show()"></i>
            </div>
        <% } %>


        <form class="login-form" action="/login" method="POST"> 
            <div class="login-form-container">
            
                <div class="login-elements">
                    <p class="login-header">Login</p>
                    <input type="text" placeholder="Enter Email" name="email" required>
                    <div class="password">
                        <input type="password" placeholder="Enter Password" name="password" id="password" required>
                        <i class="fa fa-eye-slash" aria-hidden="true" onclick="showpassword()"></i>
                    </div>
                    <div class="links">
                        <a href="/OTP-login" class="OTPlogin">Login With OTP</a>
                        <a href="/forgotPassword" class="forgot">Forgot Password</a>
                    </div>
                    
                    <button class="login-button">
                        <p>LOGIN</p>
                        <i class="fas fa-arrow-right"></i>
                        <!-- <div><p>LOGIN</p></div>
                        <div><i class="fas fa-arrow-right"></i></div> -->
                    </button>

                    <div class="login-footer">
                        <p>Not Registered?</p>
                        <a href="/signup">Sign Up</a>
                    </div>
                    
                </div>
                
            </div>
        </form>
        
    </div>
    <% include ./common/footer %>
    <script>
        function showpassword(){
            if(document.getElementById("password").getAttribute("type").localeCompare("password")===0){
                document.getElementById("password").setAttribute("type","text")
            }
            else{
                document.getElementById("password").setAttribute("type","password")
            }
            
        }

        function show(){
            document.getElementById("notification").style.display = "none";
        }
    </script>
</body>
</html>