<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/common/reset.css">
    <link rel="stylesheet" href="css/common/nav.css">
    <link rel="stylesheet" href="css/index/locator.css">
    <link rel="stylesheet" href="css/index/working.css">
    <link rel="stylesheet" href="css/index/doctor_list.css">
    <link rel="stylesheet" href="css/index/treatments.css">
    <link rel="stylesheet" href="css/index/services.css">
    <link rel="stylesheet" href="css/index/querry.css">
    <link rel="stylesheet" href="css/common/footer.css">
    <link rel="stylesheet" href="css/signUp.css">
    <link rel="stylesheet" href="../css/notification.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <% include ./common/navbar %>

    <div class="signup-container">
        <%  if(type !== "") {%>
            <div class="notfication info" id="notification">
                <i class="fa fa-info-circle icon1" aria-hidden="true"></i>
                <h2>Info</h2>
                <p><%= err_msg %></p>
                <i class="fa fa-times icon2" aria-hidden="true" onclick="show()"></i>
            </div>
        <% } %>
        <form class="signup-form" method="POST" action="/signup"  enctype="multipart/form-data"> 
            <div class="signup-form-container">
                
                <div class="signup-elements">
                    <p class="signup-header" onclick="show()">Sign Up</p>
                    <input type="text" placeholder="Enter Name" name="name">
                   
                    <input type="email" placeholder="Enter Email" name="email">
                    
                    <div class="password">
                        <input type="password" placeholder="Enter Password" name="password" id="password">
                        <i class="fa fa-eye-slash" aria-hidden="true" onclick="showpassword()"></i>
                    </div>
                    <select class="gender" name="gender">
                        <option value="" disabled selected>Select Your Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <input type="date" placeholder="dd/mm/yyyy" name="dob">
                   
                    <input type="number" placeholder="Enter Phone no" name="phone">
                    <div class="address">
                        <input type="text" placeholder="Enter City" name="city">
                        <input type="text" placeholder="Enter State" name="state">
                    </div>
                    <select class="country" name="country">
                        <option value="" disabled selected>Select Your Country</option>
                        <option value="India">India</option>
                        <option value="Pakistan">Pakistan</option>
                    </select>
                    <input type="file" name="file">

                    <select name="type" id="">
                        <option value="User">User</option>
                        <option value="Admin">Admin</option>
                    </select>
                    <button class="signup-button">
                        <div><p>SIGN UP</p></div>
                        <div><i class="fas fa-arrow-right"></i></div>
                    </button>

                    <div class="signup-footer">
                        <p>Already a member?</p>
                        <a href="/login">Login</a>
                    </div>

                </div>
            </div>
        </form>
    </div>

    <% include ./common/footer %>
    <script>
        function showpassword(){
            console.log("hello")
            if(document.getElementById("password").getAttribute("type").localeCompare("password")===0){
                document.getElementById("password").setAttribute("type","text")
            }
            else{
                document.getElementById("password").setAttribute("type","password")
            }
        }

        function show(){
            document.getElementById("notification").style.display = "none";
        }
    </script>
    <script>
        
    </script>
</body>
</html>