<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/faqs.css">
    <link rel="stylesheet" href="css/tvastra-plan.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <% include ./common/navbarBeforeLogin %>
    <div class="plan-hero">
        <button class="plus">PLUS</button>
        <h1>Health care plans for you and your family.</h1>
        <p>Become a Tvastra Plus Member and save 60% off on your yearly health expenses.</p>
    </div>

    <div class="tvastra-plans-hero">
        <div class="tvastra-plans">
            <h1>Select a Tvastra Plus Healthcare Plan</h1>
            <p class="plan-comprises">All plus plans are of 4 adults and 2 children</p>
            
            <div class="line long"></div>
            
            <div class="plans-grid">
                
                <div class="plan basic">
                    <h2>Basic Plan</h2>
                    <div class="line short"></div>
                    <p>Unlimited Consultation with any speciality</p>
                    <p>20% off on prescription medicines</p>
                    <p>20% off on test & checkups</p>
                    <h3>₹2999 <span class="year">/year</span></h3>
                    <p class="plan-details">View Plan Details</p>
                    <button>Buy Plan</button>
                </div>
    
                <div class="plan advance">
                    <p class="popular">Popular</p>
                    <h2>Advance Plan</h2>
                    <div class="line short"></div>
                    <p>Unlimited Consultation with any speciality</p>
                    <p>20% off on prescription medicines</p>
                    <p>20% off on test & checkups</p>
                    <h3>₹2999 <span class="year">/year</span></h3>
                    <p class="plan-details">View Plan Details</p>
                    <button>Buy Plan</button>
                </div>
    
                <div class="plan comprehensive">
                    <h2>Comprehensive Plan</h2>
                    <div class="line short"></div>
                    <p>Unlimited Consultation with any speciality</p>
                    <p>20% off on prescription medicines</p>
                    <p>20% off on test & checkups</p>
                    <h3>₹2999 <span class="year">/year</span></h3>
                    <p class="plan-details">View Plan Details</p>
                    <button>Buy Plan</button>
                </div>

            </div>
        </div>
    </div>

    <div class="ratings-hero">
        <h1>Trusted By 2 Crore+ users every month</h1>
        <p>Tvastra is the leading healthcare technology company in India. 
            We began in 2009 and today we help 2 crore customers every month.
        </p>

        <div class="overall-rating">
            <div class="total-rating">
                <h2>4.5</h2>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star-half-o half-checked"></i>
                <p>1000+ Reviews</p>
            </div>
            

            <div class="scorecard">
                <p>5</p>
                <div class="bar">
                    <div class="frequency five-star" style="width: 60%;">

                    </div>
                </div>

                <p>4</p>
                <div class="bar">
                    <div class="frequency four-star" style="width: 40%;">

                    </div>
                </div>

                <p>3</p>
                <div class="bar">
                    <div class="frequency three-star" style="width: 30%;">

                    </div>
                </div>

                <p>2</p>
                <div class="bar">
                    <div class="frequency two-star" style="width: 20%;">

                    </div>
                </div>

                <p>1</p>
                <div class="bar">
                    <div class="frequency one-star" style="width: 10%;">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="brag-container">
        <div class="brag-point">
            <i class="fas fa-users"></i>
            <h2>2 Crore+</h2>
            <p>Monthly customers</p>
        </div>

        <div class="brag-point">
            <i class="fas fa-user-md"></i>
            <h2>100,000</h2>
            <p>Verified Doctors</p>
        </div>

        <div class="brag-point">
            <i class="fas fa-pills"></i>
            <h2>10 Lakh+</h2>
            <p>Medicine Orders Delivered</p>
        </div>

        <div class="brag-point">
            <i class="fas fa-users"></i>
            <h2>5 Crore+</h2>
            <p>Doctor Appointments</p>
        </div>
    </div>

    <div class="benifits-hero">
        <p>Benifits of Plus Membership</p>
        <div class="line thick"></div>

        <div class="benifits-grid">
            
            <div class="checkpoints-hero">
                <h1>Zero fees for in-clinic consultation</h1>
                <div class="checkpoints">
                    <i class="fas fa-check-circle"></i>
                    <p>
                        Consult with 30000+  specialist doctors at top clinics & hospitals in the Plus
                        netwrok at Rs.0 consultation fees.
                    </p>
    
                    <i class="fas fa-check-circle"></i>
                    <p>
                        Consult with 30000+  specialist doctors at top clinics & hospitals in the Plus
                        netwrok at Rs.0 consultation fees.
                    </p>
                </div>
            </div>

            <div class="hospitals-onboard-grid">
                <h1>Top Hospital Onboarded</h1>
                <div class="hospitals-onboard">
                    <img src="../images/plus/sakra.svg" alt="" srcset="" class="left">
                    <img src="../images/plus/psri.svg" alt="" srcset="" class="right">
                    <img src="../images/plus/artemis.svg" alt="" srcset="" class="left">
                    <img src="../images/plus/people-tree.svg" alt="" srcset="" class="right">
                    <img src="../images/plus/birla.svg" alt="" srcset="" class="left">
                    <img src="../images/plus/pratiksha.svg" alt="" srcset="" class="right">
                </div>
                <p>+ More Hospitals</p>
            </div>
        </div>
    </div>

    <div class="features">
        <div class="feature feature-one">
            <h1>Unlimited online consultation with top doctors</h1>
            <div class="checkpoints">
                <i class="fas fa-check-circle"></i>
                <p>
                    Consult with 30000+  specialist doctors at top clinics & hospitals in the Plus
                    netwrok at Rs.0 consultation fees.
                </p>
                <i class="fas fa-check-circle"></i>
                <p>
                    Consult with 30000+  specialist doctors at top clinics & hospitals in the Plus
                    netwrok at Rs.0 consultation fees.
                </p>
                <i class="fas fa-check-circle"></i>
                <p>
                    Consult with 30000+  specialist doctors at top clinics & hospitals in the Plus
                    netwrok at Rs.0 consultation fees.
                </p>
            </div>
            
        </div>
        <img src="../images/plus/checkup.jpg" alt="" class="feature-img-one">

        <div class="feature feature-two">
            <h1>Unlimited online consultation with top doctors</h1>
            <div class="checkpoints">
                <i class="fas fa-check-circle"></i>
                <p>
                    Consult with 30000+  specialist doctors at top clinics & hospitals in the Plus
                    netwrok at Rs.0 consultation fees.
                </p>
                <i class="fas fa-check-circle"></i>
                <p>
                    Consult with 30000+  specialist doctors at top clinics & hospitals in the Plus
                    netwrok at Rs.0 consultation fees.
                </p>
                <i class="fas fa-check-circle"></i>
                <p>
                    Consult with 30000+  specialist doctors at top clinics & hospitals in the Plus
                    netwrok at Rs.0 consultation fees.
                </p>
            </div>
        </div>
        <img src="../images/plus/order.jpg" alt="" class="feature-img-two">

        <div class="feature feature-three">
            <h1>Unlimited online consultation with top doctors</h1>
            <div class="checkpoints">
                <i class="fas fa-check-circle"></i>
                <p>
                    Consult with 30000+  specialist doctors at top clinics & hospitals in the Plus
                    netwrok at Rs.0 consultation fees.
                </p>
                <i class="fas fa-check-circle"></i>
                <p>
                    Consult with 30000+  specialist doctors at top clinics & hospitals in the Plus
                    netwrok at Rs.0 consultation fees.
                </p>
                <i class="fas fa-check-circle"></i>
                <p>
                    Consult with 30000+  specialist doctors at top clinics & hospitals in the Plus
                    netwrok at Rs.0 consultation fees.
                </p>
            </div>
        </div>
        <img src="../images/plus/checkup.jpg" alt="" class="feature-img-three">
    </div>

    <div class="tests-hero">
        <h1>60 Tests Included</h1>
        <div class = "tests-list">
            <div class="test">
                <img src="../images/plus/Vitamin+test.svg" alt="" srcset="">
                <h2>Vitamin Profile</h2>
                <p>2 Tests</p>
            </div>

            <div class="test">
                <img src="../images/plus/Thyroid.svg" alt="" srcset="">
                <h2>Thyroid Profile</h2>
                <p>2 Tests</p>
            </div>

            <div class="test">
                <img src="../images/plus/Iron+def.svg" alt="" srcset="">
                <h2>Iron Profile</h2>
                <p>2 Tests</p>
            </div>

            <div class="test">
                <img src="../images/plus/Liver.svg" alt="" srcset="">
                <h2>Liver Profile</h2>
                <p>2 Tests</p>
            </div>
        </div>
        <div class="carousel">
            <div class="dot active"></div>
            <div class="dot"></div>
        </div>
    </div>

    <div class="love-hero">
        <div class="love">
            <h1>Why We Love Tvastra</h1>
            <button>PLUS</button>    
        </div>
        <div class="reviews-hero">
            <div class="review">
                <h3>
                    "Wonderful experience with Tvastra Plus it helped me in saving a lot of amount
                    as it provides free consultations with best doctors."
                </h3>
                <div class="review-user">
                    <img src="../images/plus/image--003.jpg" alt="" srcset="">
                    <h2>Aayush Agrawal</h2>
                    <h4>Advcance Plan User</h4>
                </div>
            </div>

            <div class="review">
                <h3>
                    "Wonderful experience with Tvastra Plus it helped me in saving a lot of amount
                    as it provides free consultations with best doctors."
                </h3>
                <div class="review-user">
                    <img src="../images/plus/image--003.jpg" alt="" srcset="">
                    <h2>Aayush Agrawal</h2>
                    <h4>Comprehensive Plan User</h4>
                </div>
            </div>

            <div class="review">
                <h3>
                    "Wonderful experience with Tvastra Plus it helped me in saving a lot of amount
                    as it provides free consultations with best doctors."
                </h3>
                <div class="review-user">
                    <img src="../images/plus/image--003.jpg" alt="" srcset="">
                    <h2>Aayush Agrawal</h2>
                    <h4>Advcance Plan User</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="faqs-hero">
        <h1>Frequently Asked Questons</h1>
        <div class="question" onclick="drop(1)">
            <h2>How Do I make Payments?</h2>
            <i class="fas fa-angle-up"></i>
            <i class="fas fa-angle-down"></i>
        </div>
        <div class="answer" id="1">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>
        <div class="question" onclick="drop(2)">
            <h2>How Do I make Payments?</h2>
            <i class="fas fa-angle-up"></i>
            <i class="fas fa-angle-down"></i>
        </div>
        <div class="answer" id="2">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>
        <div class="question" onclick="drop(3)">
            <h2>How Do I make Payments?</h2>
            <i class="fas fa-angle-up"></i>
            <i class="fas fa-angle-down"></i>
        </div>
        <div class="answer" id="3">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>
        <div class="question" onclick="drop(4)">
            <h2>How Do I make Payments?</h2>
            <i class="fas fa-angle-up"></i>
            <i class="fas fa-angle-down"></i>
        </div>
        <div class="answer" id="4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>
        <div class="question" onclick="drop(5)">
            <h2>How Do I make Payments?</h2>
            <i class="fas fa-angle-up"></i>
            <i class="fas fa-angle-down"></i>
        </div>
        <div class="answer" id="5">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>
        <div class="question" onclick="drop(6)">
            <h2>How Do I make Payments?</h2>
            <i class="fas fa-angle-up"></i>
            <i class="fas fa-angle-down"></i>
        </div>
        <div class="answer" id="6">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>
        <div class="question" onclick="drop(7)">
            <h2>How Do I make Payments?</h2>
            <i class="fas fa-angle-up"></i>
            <i class="fas fa-angle-down"></i>
        </div>
        <div class="answer" id="7">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>
        <div class="question" onclick="drop(8)">
            <h2>How Do I make Payments?</h2>
            <i class="fas fa-angle-up"></i>
            <i class="fas fa-angle-down"></i>
        </div>
        <div class="answer" id="8">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>
    
    </div>
    <% include ./common/footer %>
    <script>
        function drop(id){
            var info = document.getElementById(id);
            
            for(var i=1;i<=7;i++){
                if(i==id)
                continue;
                document.getElementById(i).style.display = "none";
                document.getElementsByClassName("fa-angle-up")[i-1].style.display = "none";
                document.getElementsByClassName("fa-angle-down")[i-1].style.display = "block";
            }

            if(info.style.display == "none" || info.style.display == ""){
                // console.log("clicked-none")
                info.style.display = "block";
                document.getElementsByClassName("fa-angle-up")[id-1].style.display = "block";
                document.getElementsByClassName("fa-angle-down")[id-1].style.display = "none";
            }
            else {
                // console.log("clicked-block")
                info.style.display = "none";
                document.getElementsByClassName("fa-angle-up")[id-1].style.display = "none";
                document.getElementsByClassName("fa-angle-down")[id-1].style.display = "block";
            }
        }
    </script>
</body>
</html>