* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
}

.navbar img {
    width: 7rem;
    height: 2rem;
}

.navbar i {
    color: #525659;
}

.container-1 {
    background-color: #99c0da;
    text-align: center;
}

.container-1 h1 {
    padding: 2rem;
}

.container-1 p {
    padding: 0 2rem 0 2rem;
}

.container-1 .locator-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
    align-items: center;
}

.container-1 .locator-container i {
    background-color: white;
    padding: 1rem;
    height: 1rem;
}

.container-1 .fa-map-marker {
    background-color: white;
    font-size: large;
    padding: 1rem;
    border-style: hidden;
}

.container-1 .locator-container input {
    width: 15rem;
    height: 3rem;
    border-style: hidden;
}

.container-1 .locator-container img {
    background-color: white;
    height: 1rem;
    padding: 1rem;
}

.container-1 .search-container input {
    width: 18.7rem;
    height: 1rem;
    padding: 1rem;
}

.container-1 button {
    background-color: rgb(2, 2, 63);
    border: none;
    color: white;
    margin: 2rem;
    width: 9rem;
    height: 3rem;
}

.container-2 h2 {
    margin: 1rem;
}

.container-2 p {
    margin: 1rem;
}

.container-2 .flex-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-2 .flex-container-2 .element-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    margin: .2rem 1rem .2rem 2rem;
    padding: 2rem;
    border-radius: 5px;
    color: rgb(218, 216, 216);
    width: 60%;
    height: 1rem;
}

.container-2 .flex-container-2 .element-2 .number-2 {
    font-weight: 900;
    font-size: 1.3rem;
    margin-left: -1rem;
    margin-right: 1rem;
}

.container-2 .flex-container-2 .element-2 .text-2 {
    font-weight: 900;
    font-size: 1.3rem;
    text-align: left;
}

.container-2 .flex-container-2 .img-container-2 {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.container-2 .flex-container-2 .img-container-2 img {
    height: 16rem;
    margin: 1.5rem 0.5rem 1rem 1.5rem;
}

.container-3 {
    background-color:  #021433;
    text-align: center;
    padding: 1rem;
    margin: .1rem;
    margin-top: 2rem;
}

.container-3 h2 {
    color: white;
    padding: 2rem 2rem 0 2rem;
}

.container-3 p {
    color: white;
    padding: 1rem 2rem 1rem 2rem;
}

.container-3 .img-container-3 {
    background-color: white;
    margin: 1.5rem;
    box-shadow: 0 .5rem #7adbf8;
}

.container-3 .img-container-3 img {
    width: 90%;
}

.container-3 .img-container-3 h3 {
    color: #7adbf8;
    text-align: left;
    margin: .5rem 0 0 1.5rem;
}

.container-3 .img-container-3 p {
    color: black;
    text-align: left;
    margin: .5rem 0 0 1.5rem;
    padding: 0;
    padding-bottom: 10px;
}

.container-4 {
    margin-top: 2rem;
}

.container-4 h2 {
    padding: 0 3rem 0 3rem;
}

.container-4 p {
    padding: 1rem;
    font-size: large;
}


.container-4 .img-container-4 {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1rem;
    margin: .5rem 2rem 1rem 2rem;
    background-size: cover;
}

.container-4 .img-container-4 p {
    color: white;
    margin: .7rem;
    font-size: 1.2rem;
}

.container-4 .img-1 {
    background-image: linear-gradient(to bottom, transparent,rgb(0, 0, 0)99%),url("images/image--009.jpg");
    background-repeat: no-repeat;
}

.container-4 .img-2 {
    background-image: linear-gradient(to bottom, transparent,rgb(0, 0, 0)99%),url("images/image--010.jpg");
    background-repeat: no-repeat;
}

.container-4 .img-3 {
    background-image: linear-gradient(to bottom, transparent,rgb(0, 0, 0)99%),url("images/image--008.jpg");
    background-repeat: no-repeat;
}

.container-4 .img-4 {
    background-image: linear-gradient(to bottom, transparent,rgb(0, 0, 0)99%),url("images/image--011.jpg");
    background-repeat: no-repeat;
}

.container-4 .img-5 {
    background-image: linear-gradient(to bottom, transparent,rgb(0, 0, 0)99%),url("images/image--007.jpg");
    background-repeat: no-repeat;
}

.container-5 h2 {
    padding-top: 1rem;
}

.container-5 p {
    padding: 0 2.5rem 0 2.5rem;
    margin: 1rem 1rem 2rem 1rem;
}

.container-5 .grid-container-5 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 2rem 0 2rem;
}

.container-5 .grid-container-5 .img-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 227, 227);
    border-radius: 7px;
    margin: 0 .5rem 1rem .5rem;
    height: 10rem;
}

.container-5 .grid-container-5 .img-5 img {
    margin-top: 1rem;
    padding: 0 1rem 0 1rem;
    margin-bottom: -1.7rem;
}

.container-5 .grid-container-5 .img-5 p{
    color:rgb(146, 144, 144);
    font-weight: bolder;
    margin: 2.8rem;
    padding: 0;
}

.container-6 {
    padding: 1rem;
    background-color: #8fcaf1;
    text-align: center;
    color: #021433;
    /* margin: .2rem; */
}

.container-6 h2 {
    color: white;
    margin: .8rem;
}

.container-6 button {
    background-color: #0099ff;
    width: 15rem;
    height: 4rem;
    border: none;
    border-radius: 5px;
    margin: 1rem;
    margin-top: 2rem;
}

.container-7 {
    background-color: #021433;
    padding: 1rem;
    text-align: center;
}

.container-7 img {
    margin: 1rem;
    height: 3rem;
    width: 12rem;
}

.container-7 h2 {
    color: white;
    text-align: center;
    margin: 2rem;
}

.container-7 ul {
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}

.container-7 ul li {
    margin: 1rem;
}

.container-7 a {
    text-decoration: none;
    color: white;
}

.container-7 .note {
    text-align: center;
    margin: .7rem;
    font-size: small;
    color: white;
}