* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

.container h2 {
    padding-top: 1rem;
}

.container p {
    padding: 2.5rem;
}

.container .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    /* margin: 0 1rem 0 1rem; */
}

.container .grid-container .img {
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 227, 227);
    border-radius: 10px;
    margin: 0 .5rem 1rem .5rem;
    height: 11rem;
}

.container .grid-container .img img {
    padding: 0 1rem 0 1rem;
    
}


.container .grid-container .img p{
    color:rgb(146, 144, 144);
    font-weight: bolder;
}