*{
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    
}

.container .img-container {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1rem;
    margin: 1rem;
    background-size: cover;
}

.container .img-container p {
    color: white;
    margin: .7rem;
    font-size: 1.2rem;
}

.img-1 {
    background-image: linear-gradient(to bottom, transparent,rgb(0, 0, 0)99%),url("images/image--009.jpg");
    background-repeat: no-repeat;
}

.img-2 {
    background-image: linear-gradient(to bottom, transparent,rgb(0, 0, 0)99%),url("images/image--010.jpg");
    background-repeat: no-repeat;
}

.img-3 {
    background-image: linear-gradient(to bottom, transparent,rgb(0, 0, 0)99%),url("images/image--008.jpg");
    background-repeat: no-repeat;
}

.img-4 {
    background-image: linear-gradient(to bottom, transparent,rgb(0, 0, 0)99%),url("images/image--011.jpg");
    background-repeat: no-repeat;
}

.img-5 {
    background-image: linear-gradient(to bottom, transparent,rgb(0, 0, 0)99%),url("images/image--007.jpg");
    background-repeat: no-repeat;
}