<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(type === "info"){ %>
        <div class="notfication info" id="notification">
            <i class="fa fa-info-circle icon1" aria-hidden="true"></i>
            <h2>Info</h2>
            <p><%= msg %></p>
            <i class="fa fa-times icon2" aria-hidden="true" onclick="show()"></i>
        </div>
    <% } %>

    <% if(type === "failure"){ %>
        <div class="notfication failure" id="notification">
            <i class="fa fa-times-circle icon1" aria-hidden="true"></i>
            <h2>Info</h2>
            <p><%= msg %></p>
            <i class="fa fa-times icon2" aria-hidden="true" onclick="show()"></i>
        </div>
    <% } %>

    <% if(type === "success"){ %>
        <div class="notfication success" id="notification">
            <i class="fa fa-check-circle icon1" aria-hidden="true"></i>
            <h2>Info</h2>
            <p><%= msg %></p>
            <i class="fa fa-times icon2" aria-hidden="true" onclick="show()"></i>
        </div>
    <% } %>

    <script>
        
        function show(){
            document.getElementById("notification").style.display = "none";
        }

        setTimeout(() => {
            document.getElementById("notification").style.display="none";
        }, 2000);
        
    </script>
</body>
</html>