*{
    padding: 0;
    margin: 0;
}

.doctor-list-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.doctor-list-container .doctor-sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.doctor-list-container .doctor-sort select {
    padding: .5rem;
    background-color: rgb(206, 197, 197);
    border: none;
}

.doctor-list-container .doctor-list {
    display: flex;
    flex-direction: column;
}

.doctor-list-container .doctor-list .doctor-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid;
    border-width: 1px;
    margin-top: 1rem;
}

.doctor-list-container .doctor-list .doctor-card h3 {
    color: rgb(0, 115, 209);
}

.doctor-list-container .doctor-list .doctor-card i{
    color: rgb(0, 115, 209);
    margin: 1rem .5rem 0 .5rem;
}

.doctor-list-container .doctor-list .doctor-card .certi {
    width: 1rem;
    height: 1rem;
    margin: 0;
    padding: 0;
    margin: 1rem .5rem 0 .5rem;
}

.doctor-list-container .doctor-list .doctor-card button{
    align-self: center;
    background-color: rgb(3, 3, 44);
    color: white;
    border: none;
    padding: .5rem;
    width: 12rem;
}

.doctor-list-container .doctor-list .doctor-card .doctor-img {
    width: 100%;
}